composer.phar
composer.lock
/vendor/

madeline.phar
madeline.phar.version
madeline.php

MadelineProto.log
madeline.madeline
madeline.madeline.lock

madeline.madeline.ipc
madeline.madeline.safe.php.temp.php
madeline.madeline.callback.ipc
madeline.madeline.lightState.php
madeline.madeline.safe.php
bot157887279.lock

trace.txt
error_log
junk*
*.log

data/
config.php

.idea/
nbproject/