composer.phar
/vendor/
/build/

madeline.phar
madeline.phar.version
madeline.php
madeline-74.phar
madeline-74.phar.version

MadelineProto.log
madeline.madeline
madeline.madeline.lock

madeline.madeline.ipc
madeline.madeline.safe.php.temp.php
madeline.madeline.callback.ipc
madeline.madeline.lightState.php
madeline.madeline.safe.php
bot*.lock
*.script.lock

*.madeline
*.madeline.lock
*.madeline.script.lock

trace.txt
error_log
junk*
*.log
mahyar.log

data/
config.php
helpText.php
authser.authkey

.vscode/
.idea/
nbproject/
trace.txt
nbproject/
/junk/

MiningHandler.php
